node_modules/
out/
dist*/
.electron-cache/
asar-check/
*.exe
*.blockmap
*.nupkg

*.log
*.tsbuildinfo

.env
.env.local
.env.*.local

roadmap/

.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/
*.swp
*.swo

coverage/
.nyc_output/
